{
  "presets": [
    "es2015",
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 4 versions",
            "safari >= 7"
          ]
        }
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}