{
  "lines": 99,
  "statements": 99,
  "functions": 99,
  "branches": 99,
  "include": [
    "src/**/*.js"
  ],
  "exclude": [
    "__test__/**/*.js"
  ],
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "cache": true,
  "all": true,
  "check-coverage": true
}