$colors: (background: #1d1f21, current_line: #282a2e, selection: #373b41, foreground: #c5c8c6, comment: #969896, red: #cc6666, orange: #de935f, yellow: #f0c674, green: #b5bd68, aqua: #8abeb7, blue: #81a2be, purple: #b294bb)

.side-bar, .content
  float: left
  height: 100%

.content
  padding: 20px

.side-bar
  background: map-get($colors, background)

a.logo
  width: 100%
  text-align: center
  padding: 20px
  background: map-get($colors, foreground)

a
  display: inline-block
  color: map-get($colors, blue)
  text-decoration: none
  &:active, &.active
    color: map-get($colors, purple)
  &:hover
    color: map-get($colors, aqua)

.menu
  padding: 20px

ul
  margin: 0
  padding: 0
  list-style: none
  li
    margin-bottom: 10px