$colors: (background: #1d1f21, current_line: #282a2e, selection: #373b41, foreground: #f1f1f1, comment: #969896, red: #cc6666, orange: #de935f, yellow: #f0c674, green: #b5bd68, aqua: #8abeb7, blue: #81a2be, purple: #b294bb)

.side-bar, .content
  @media screen and (min-width: 35.5em)
    flex: 1
    height: 100%

.markdown-body
  padding: 20px

.side-bar
  box-shadow: 1px 0 1px 1px rgba(0, 0, 0, .3)
  background: map-get($colors, background)
  @media screen and (min-width: 35.5em)
    max-width: 200px

a.logo
  width: 100%
  text-align: center
  padding: 20px
  background: map-get($colors, foreground)

a
  display: inline-block
  color: map-get($colors, blue)
  text-decoration: none
  &:active, &.active
    color: map-get($colors, purple)
  &:hover
    color: map-get($colors, aqua)

.menu
  padding: 20px

  ul
    margin: 0
    padding: 0
    list-style: none
    li
      margin-bottom: 10px